<div class="form_new">
  <%= form_for @job do |f|%>
    <p><%= f.label :title, 'Título:' %>
    <%= f.text_field :title%> </p>
    <p>
      <%= f.label :company_id, 'Empresa:' %>
      <%= f.collection_select(:company_id, Company.all, :id, :name, prompt:'Selecione uma empresa') %>
    </p>
    <p>
      <%= f.label :location, 'Localização:' %>
      <%= f.text_field :location%>

    </p>
    <p>
      <%= f.label :category, 'Categoria:' %>
      <%= f.text_field :category%>
    </p>
    <p>
      <%= f.label :description, 'Descrição:' %>
      <%= f.text_area :description%>
    </p>
    <p><%=f.label :featured, 'Destaque' %>
      <%= f.check_box :featured%>
    </p>
    <%= f.submit 'Criar Vaga'%>

  <% end %>
</div>
