<div class="vaga">
  <h1><%=@job.title%></h1>

  <p class="left">Empresa</p>
  <p class="right"><%= @job.company.name %></p>
  <p class="left">Localização</p>
  <p class="right"><%= @job.location %></p>
  <p class="left">Categoria</p>
  <p class="right"><%= @job.category.name %></p>
  <p class="left">Descrição Completa</p>
  <p class="right"><%= @job.description %></p>

  <% if @job.featured? %>
    <p class="left"><strong>Destaque</strong></p>
  <% end %>

</div>

<p><%=link_to('Voltar',root_path)%> </p>
