
<div class="vaga">
  <h1><%=@job.title%></h1>
  <hr>
  <!-- <dl>
    <dt>Empresa</dt>
    <dd><%= @job.company %></dd>
    <dt>Localização</dt>
    <dd><%= @job.location %></dd>
    <dt>Categoria</dt>
    <dd><%= @job.category %></dd>
    <dt>Descrição Completa</dt>
    <dd><%= @job.description %></dd>
  </dl> -->

  <p class="left">Empresa</p>
  <p class="right"><%= @job.company %></p>
  <p class="left">Localização</p>
  <p class="right"><%= @job.location %></p>
  <p class="left">Categoria</p>
  <p class="right"><%= @job.category %></p>
  <p class="left">Descrição Completa</p>
  <p class="right"><%= @job.description %></p>

  <% if @job.featured? %>
    <p class="left"><strong>Destaque</strong></p>
  <% end %>

</div>
<p><%=link_to('Voltar',root_path)%> </p>
